# Example .env file for Django project

# Email configuration
EMAIL_HOST_PASSWORD="your-email-host-password"
EMAIL_HOST_USER="your-email@example.com"

# Logging configuration
DJANGO_LOG_LEVEL="DEBUG"
DJANGO_LOG_FILE="django.log"

# Database configuration
DB_HOST="database-host"

# Django settings
SECRET_KEY="your-secret-key"
ALLOWED_HOSTS="your-allowed-hosts"

# File paths
RAW_IMAGE_SAVING_PATH="static/raw_images/"
PREDICTED_IMAGE_SAVING_PATH="static/predicted_images/"
PROFILE_PICTURE_SAVING_PATH="static/profile_pictures/"
